@import 'tailwindcss';

@utility container {
    padding-inline: 2rem;
    margin-inline: auto;


    @variant 2xl {
        padding-inline: 3.75rem;
    }
}


:root {
    --bg-color: #171717;
    --bg-grid-color: #202020;
}

@theme {
    --color-primary: #171717;
    --color-text-primary: #e7e7e7;
    --color-text-secondary: #9a9a9a;
    --color-border-primary: #404040;
}

* {
    font-family: "0xProto Nerd Font Mono", monospace;
}

body {
    background: var(--bg-color);
    background-image: linear-gradient(var(--bg-grid-color) .1em, transparent .1em), linear-gradient(90deg, var(--bg-grid-color) .1em, transparent .1em);
    background-size: 6em 6em;
}

button:hover {
    cursor: pointer;
}